<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="wheel">
	<link name="${name}">
		<inertial>
			<mass value="1e-5"/>
			<origin xyz="0 0 0" rpy="0 0 0"/>

			<inertia
		        ixx="1e-6" ixy="0.0" ixz="0.0"
		        iyy="1e-6" iyz="0.0"
		        izz="1e-6"
		      />
		</inertial>

		<visual>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
			    <cylinder radius="0.05" length="0.05"/>
			</geometry>
		</visual>

		<collision>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
				<cylinder radius="0.05" length="0.05"/>
			</geometry>
		</collision>
	</link>

    <joint name="${name}_joint" type="fixed">
	    <origin xyz="${x} ${y} ${z}" rpy="0 0 0" />
	    <parent link="${parent}"/>
	    <child link="${name}_link" />  
	    <axis xyz="0 0 1"/> 
	</joint>

</robot>
